<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="/public/css/main.css"/>
	<script type="text/javascript" src="/public/js/jquery.js"></script>
	<script type="text/javascript" src="/public/js/index.js"></script>
</head>
<body>
	帐号:<input type="text" name="userName" id="userName"/>
	</br>
	密码:<input type="password" name="passWord" id="passWord"/>
	</br>
	确认密码:<input type="password" name="repassWord" id="repassWord"/>
	</br>
	<input type="button" name="btn" id="btn" value="提交"/>
</body>
</html>